$main-color:grey;
$hover-color:black;
$orange-color:rgb(255, 94, 0);
$bg-dark-color:rgb(245, 243, 244);
$padding-navy:0 60px 50px 180px;


@mixin marginate{
    margin:0 0 0 50px;
}

@mixin webkit{
    -webkit-background-clip: text;
}